<h1>Eldest director</h1>

<body>
  <div>
    The eldest director in our dataset right now is <a href "/directors/<%= @eldest.id %>"><%= @eldest.name %></a> born on <%= @dob.strftime("%B") %> <%= @dob.strftime("%d") %>, <%= @dob.strftime("%Y") %>.
  </div>

  <p></p>
</body>
